@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: auto;
    background-color: white;
    font-family: 'Noto Sans', sans-serif;
    transition: 0.4s ease;
    scroll-behavior: smooth;
}
.container {
    max-width: 1100px;
    margin: auto;
}
a {
    text-decoration: none;
    color: inherit;
}
li {
    list-style: none;
}
header {
    height: 100%;
    height: auto;
    z-index: 9999;
}
.topNav {
    width: 100%;
    height: 50px;
    background-color: rgb(29,34,40);
    color: white;
}
.flex {
    display: flex;
    align-items: center;
}
.topNav .container {
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
.iconsSocial {
    gap: 30px;
}
.iconsSocial i {
    font-size: 15px;
}
.iconsSocial a:hover i{
    color: rgb(119, 197, 2);
}
.srBtn {
    font-size: 13px;
    font-weight: 600;
    transition: 0.2s ease;
}
.srBtn i{
    margin-left: 5px;
    transition: 0.2s ease;
}
.srBtn:hover {
    color: rgb(119, 197, 2);
}
.srBtn:hover i {
    transform: rotate(90deg);
}
.mainNav {
    width: 100%;
    height: 90px;
    position: sticky;
    top: 0;
    background-color: white;
    box-shadow: 0 0 5px grey;
    z-index: 9999;
    transition: 0.5s ease-in-out;
}
.mainNav .container {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: transparent;
    justify-content: space-between;
}
.logo {
    gap: 5px;
}
.logo h1 {
    font-size: 30px;
    font-family: fantasy;
    text-transform: uppercase;
    font-weight: 800;
    color: rgb(35, 33, 42);
    cursor: pointer;
    transition: 0.2s ease;
    letter-spacing: 2px;
}
.logo:hover h1 {
    color: rgb(119, 197, 2);
}
.navList {
    gap: 30px;
    margin-right: 150px;
    transition: 0.3s ease-in-out
}
.navList li a {
    font-size: 14px;
    font-weight: 600;
}
.navList li a:hover {
    color: rgb(119, 197, 2);
}
.searchBar {
    gap: 20px;
    margin-right: 15px;
}
.searchBar i {
    font-size: 23px;
    color: rgb(85, 85, 85);
    cursor: pointer;
}
.searcBar i:hover {
    color: rgb(119, 197, 2);
}
.searchInput {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 5px 0;
    display: flex;
    align-items: center;
}
.searchInput input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 600;
    padding: 10px;
}
.searchInput i {
    font-size: 18px;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
    box-shadow: 0 0 5px rgb(153, 153, 153);
    border-radius: 5px;
    margin-right: 2px;
    transition: 0.3s ease;
}
.searchInput i:hover {
    background-color: rgb(119, 197, 2);
}