@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
body {
    width: 100%;
    height: auto;
    font-family: 'Noto Sans', sans-serif;
    background-color: white;
    transition: 0.4s ease;
    scroll-behavior: smooth;
} 

 /*SCROLLBAR*/

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(119, 197, 2);
    border-radius: 8px;
}

.container {
    max-width: 1100px;
    margin: auto;
} 

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

header {
    height: 100%;
    height: auto;
    z-index: 9999;
}

.topNav {
    width: 100%;
    height: 50px;
    background-color: rgb(29,34,40);
    color: white;
}

.flex {
    display: flex;
    align-items: center;
}

.topNav .container {
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.iconsSocial {
    gap: 30px;
}

.iconsSocial i {
    font-size: 15px;
}
.iconsSocial a:hover i{
    color: rgb(119, 197, 2);
}

.srBtn {
    font-size: 13px;
    font-weight: 600;
    transition: 0.2s ease;
}

.srBtn i{
    margin-left: 5px;
    transition: 0.2s ease;
}

.srBtn:hover {
    color: rgb(119, 197, 2);
}

.srBtn:hover i {
    transform: rotate(90deg);
}

/*NAVIGATION*/

.mainNav {
    width: 100%;
    height: 90px;
    position: sticky;
    top: 0;
    background-color: white;
    box-shadow: 0 0 5px rgb(128, 128, 128);
    z-index: 9999;
    transition: 0.5s ease-in-out;
} 

  /* STICKY*/
.sticky {
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    transition: 0.5s ease-in-out;
}  

.mainNav .container {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: transparent;
    justify-content: space-between;
}

.logo {
    gap: 5px;
}

.logo h1 {
    font-size: 30px;
    font-family: fantasy;
    font-weight: 800;
    letter-spacing: 2px;
    color: rgb(35, 33, 42);
    text-transform: uppercase;
    transition: 0.2s ease;
    cursor: pointer;
}

.logo:hover h1 {
    color: rgb(119, 197, 2);
}

.navList {
    gap: 30px;
    margin-right: 150px;
    transition: 0.3s ease-in-out
}

.navList li a {
    font-size: 14px;
    font-weight: 600;
}

.navList li a:hover {
    color: rgb(119, 197, 2);
}

.searchBar {
    gap: 20px;
    margin-right: 15px;
}

.searchBar i {
    font-size: 23px;
    color: rgb(85, 85, 85);
    cursor: pointer;
}

.searcBar i:hover {
    color: rgb(119, 197, 2);
}

.searchInput {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 5px 0;
    display: flex;
    align-items: center;
}

.searchInput input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 600;
    padding: 10px;
}

.searchInput i {
    font-size: 18px;
    color: black;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: 0 0 5px rgb(153, 153, 153);
    border-radius: 5px;
    margin-right: 2px;
    transition: 0.3s ease;
}

.searchInput i:hover {
    background-color: rgb(119, 197, 2);
}

/* MENU BUTTON */

.navOnOff {
    display: none;
}

#checkbox1 {
    display: none;
}

.toggle1{
    position: relative;
    width: 40px;
    cursor: pointer;
    margin: auto;
    display: block;
    height: calc(4px * 3 + 11px * 2);
}

.bar {
    position: absolute;
    left: 0;
    right: 0;
    height: 4px;
    border-radius: calc(4px / 2);
    background: black;
    color: inherit;
    opacity: 1;
    transition: none 0.35s cubic-bezier(.5s, -0.35, .35, 1.5) 0s;
}

.bar--top {
    bottom: calc(50% + 11px + 4px/ 2);
    transition-property: bottom, transform;
    transition-delay: calc(0s + 0.35s), 0s;
}

.bar--middle {
    top: calc(50% - 4px/ 2);
    transition-property: opacity;
    transition-delay: calc(0s + 0.35s);
}

.bar--bottom {
    top: calc(50% + 11px + 4px/ 2);
    transition-property: top, transform;
    transition-delay: calc(0s + 0.35s), 0s;
}

#checkbox1:checked + .toggle1 .bar--middle {
    opacity: 0;
    transition-duration: 0s;
    transition-delay: calc(0s + 0.35s);
}

#checkbox1:checked + .toggle1 .bar--top {
    bottom: calc(50% - 4px/ 2);
    transform: rotate(135deg);
    transition-delay: 0s, calc(0s + 0.35s);
}

#checkbox1:checked + .toggle1 .bar--bottom {
    top: calc(50% - 4px/ 2);
    transform: rotate(225deg);
    transition-delay: 0s, calc(0s + 0.35s);
}

.headerImg {
    position: relative;
    width: 100%;
    height: 100%;
    height: auto;
    background: url(brownie.jpeg) no-repeat center/cover;
    z-index: 1;
    transition: 0.3s ease;
}

.headerImg .container {
    width: 100%;
    height: 100%;
}

.headerImg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.3;
    z-index: -1;
    transition: background-color .3s;
}

.headerInfo {
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
    z-index: 9;
    color: white;
    padding-top: 8rem;
    padding-bottom: 13rem;
}

.headerTitle {
    font-size: 70px;
    color: white;
    font-weight: 600;
    font-family: 'Merriweather', serif;
}

.headerPera {
    font-size: 17px;
    padding-right: 35rem;
    color: white;
}

.headerBtn {
    --black: rgb(0, 0, 0);
    --ch-black: rgb(20, 20, 20);
    --ear-black: rgb(27, 27, 27);
    --night-rider: rgb(46, 46, 46);
    --white: rgb(255, 255, 255);
    --af-white: rgb(243, 243, 243);
    --ch-white: rgb(225, 225, 225);
    border-radius: 8px;
    width: 185px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0 15px;
    border: none;
    color: white;
    position: relative;
    cursor: pointer;
    font-weight: 700;
    transition-duration: 0.2s;
    background-color: rgb(119, 197, 2);
}

.headerBtn::before,
.headerBtn::after {
    content: '';
    background: linear-gradient(45deg,
    var(--ch-black), var(--ch-black),
    var(--night-rider), var(--ch-white),
    var(--night-rider), var(--ear-black),
    var(--ch-black), var(--ch-black));
    position: absolute;
    left: -2px;
    top: -2px;
    width: calc(100% + 4px);
    height: calc(100% + 4px); 
    border-radius: 10px;
    background-size: 400%; 
    z-index: -1; 
    animation: steam 15s linear infinite;
}

.headerBtn::after {
    filter: blur(50px);
}

.headerBtn:hover {
    border: 1px solid white;
    box-shadow: 0 0 10px white;
}

  /*BUTTON ANIMATION*/
@keyframes steam {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

.headerBtn::after {
    filter: blur(50px);
}

.headerBtn:hover {
    border: 1px solid white;
    box-shadow: 0 0 10px white;
}
 
   /* MY LATEST RECIPES */

.threeCards {
    gap: 25px;
    padding: 0 20px;
    margin-top: 6rem;
}

.tCard {
    position: relative;
    width: 350px;
    height: auto;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(153, 153, 153, 0.557);
    border-radius: 8px;
    padding: 20px;
}

.tCardImg {
    position: relative;
    width: 100%;
    height: 190px;
    overflow: hidden;
    border-radius: 5px;
}

.tCardImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    transition: 0.3s ease;
}

.tCard:hover .tCardImg img {
    transform: scale(1.1);
}

.tCardImg span {
    position: absolute;
    top: 2%;
    left: 2%;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
}

.tCardImg span:hover {
    color: orange;
}

.tCardInfo {
    position: relative;
    margin-top: 10px;
    flex-direction: column;
    gap: 15px;
    padding: 5px;
}

.tLabel {
    color: rgb(136, 1, 12);
    font-weight: 600;
    font-size: 13px;
}

.tCardInfo h2 {
    font-size: 20px;
    color: rgb(34, 34, 34);
    text-align: center;
    text-transform: capitalize;
    font-family: 'Merriweather', serif;
}

.starRating {
    display: flex;
}

.bxs-star {
    color: orange;
}

.bx-heart:hover {
    color: rgb(209, 6, 6);
}

.tCardInfo p {
    font-size: 14px;
    line-height: 22px;
    color: rgb(68, 68, 68);
    text-align: center;
}

.tCardImg ul {
    gap: 12px;
}

.tCardInfo ul li {
    font-size: 12px;
    cursor: pointer;
    margin-left: 8px;
}

.tCardInfo ul li i {
    margin-right: 5px;
    color: rgb(136, 1, 12);
}

.tCardInfoul li:hover {
    color: rgb(136, 1, 12);
}

.tCardBtn {
    position: relative;
    width: 100%;
    text-align: center;
    padding: 10px;
    color: white;
    font-weight: 600;
    background-color: rgb(119, 197, 2);
    border-radius: 8px;
    overflow: hidden;
    z-index: 1;
    transition: 0.3s ease;
}

.tCardBtn::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #1111112a;
    z-index: -1;
    transform: scale(0);
    transition: 0.3s ease-in-out;
}

.tCardBtn:hover::before {
    transform: scale();
}

.checked {
    color: rgb(72, 68, 68);
}


  /* CATEGORIES */

.categoriesCards {
    margin-top: 6rem;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
}

.categCard {
    position: relative;
    width: 250px;
    height: auto;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 0 10px grey;
    padding: 20px;
    margin-top: 20px;
    transition: 0.3s ease;
}

.categImg {
    width: 100%;
    height: 170px;
    overflow: hidden;;
}

.categImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: center ;
    transition: 0.3s ease;
}

.categCard:hover img {
    transform: scale(1.1);
}

.categInfo {
    position: relative;
    margin-top: 10px;
    flex-direction: column;
    gap: 15px;
    padding: 5px;
}

.categInfo span {
   color: rgb(119, 197, 2);
   font-size: 14px;
   font-weight: 600;
}
.categInfo h3 {
    font-size: 20px;
    font-family: 'Merriweather', serif;
    font-weight: 400;
}

.categInfo p {
    text-align: center;
    font-size: 14px;
}

.categCard:hover {
    box-shadow: 0 0 20px rgb(153, 153, 153);
}

  /* POPULAR RECIPES */

.popularRecipes {
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 120px;
    padding: 0 20px;
    overflow: hidden;
}

.popularTitle {
    flex-direction: column;
    gap: 18px;
}

.popularTitle h1 {
    font-family: 'Merriweather', serif;
    font-size: 40px;
    color: rgb(29, 34, 40);
    margin-top: 16px;
}

.popularCards {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-top: 4rem;
    gap: 22px;
}

.popCard {
    position: relative;
    width: 350px;
    height: auto;
    overflow: hidden;
    border-radius: 10px;
}

.popCardImg {
    position: relative;
    width: 100%;
    height: 430px;
    overflow: hidden;
    border-radius: 10px;
}

.popCardImg img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: center;
    object-position: center;
    transition: 0.3s ease;
}

.popCard:hover .popCardImg img{
    transform: scale(1.08);
}

.popThornName {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: white;
    padding: 15px;
    border-top-right-radius: 10px
}

.popThornName img{
    width: 40px;
    margin-right: 10px;
}

.popTho h5 {
    font-family: 'Merriweather', serif;
    font-size: 15px;
    color: rgb(85, 85, 85);
}

.popTho p {
    font-size: 12px;
    margin-top: 5px;
}

.popCardImg i {
    position: absolute;
    top: 3%;
    left: 3%;
    background-color: #e8e5e5;
    color: rgb(255, 103, 103);
    padding: 8px;
    border-radius: 50px;
    cursor: pointer;
}

.popCardImg i:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(255, 0, 0);
}

.popCardInfo {
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    padding: 20px 0 0 20px;
}

.popCardInfo label {
    font-size: 13px;
}

.popCardInfo h2 {
    font-family: 'Merriweather', serif;
    font-size: 20px;
}

.popCardInfo p {
    font-size: 14px;
    color: rgb(119, 119, 119);
}

.popCardBtn {
    position: relative;
    background-color: rgb(255, 103, 103);
    padding: 10px 20px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    z-index: 1;
    transition: 0.3s ease-in-out;
}

.popCardBtn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(17, 17, 17, 0.165);
    z-index: -1;
    transition: 0.3s ease-in-out;
}

.popCardBtn:hover::before {
    transform: scale(1);
}


/* FRUITS AND VEGETABLES */

.vegeFruit {
    position: relative;
    background: url(vegeFruit.jpg) no-repeat center center/cover;
    width: 100%;
    height: 45vh;
    margin-top: 8rem;
}

.vegeFruit .container {
    height: 100%;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.vege, .fruit {
    position: relative;
    width: 48%;
    height: 70%;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    flex-wrap: wrap;
    padding: 28px;
}


.vegFruInfo h1 {
    font-size: 35px;
    font-family: 'Merriweather', serif;
    font-weight: 700;
    color: rgb(29, 34, 40);
    line-height: 43px;
    margin: 0 0 20px;
    margin-bottom: 35px;
}

.vegFruInfo p {
    word-wrap: break-word;
    font-size: 14px;
    color: rgb(81, 81, 81);
    line-height: 28px;
    margin-bottom: 15px;
}

.vegFruInfo a {
    position: relative;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: rgb(119, 197, 2);
    box-shadow: 4px 3px 24px rgb(119, 197, 2);
    border-radius: 8px;
    padding: 13px 30px;
    line-height: 24px;
    color: white;
    font-size: 14px;
    font-weight: 600;
    transition: 0.3s;
    text-transform: uppercase;
    z-index: 1;
}

.fruit .vegFruInfo a {
    background-color: rgb(255, 103, 103);
    box-shadow: 4px 3px 24px rgb(255, 103, 103);
}

.vegFruInfo a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(17, 17, 17, 0.165);
    border-radius: 8px;
    z-index: -1;
    transform: scale(0);
    transition: 0.3s ease-in-out;
}

.vegFruInfo a:hover::before {
    transform: scale(1);
}


  /*RECIPES OCCASIONS*/

.occasionsRec {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 8rem;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 6rem;
}  

.leftSect {
    width: 65%;
}

.leftBox {
    margin-bottom: 4rem;
}

.leftBox h1 {
    color: #222;
    font-size: 40px;
    font-family: 'Merriweather', serif;
    line-height: 48px;
}

.leftPosts {
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 2.5rem;
}
.leftPosts .threeCard {
    box-shadow: 0 0 10px #999;
    width: 345px;
}

.leftPosts .threeCard .tCardInfo h2{
    font-weight: 500;
    color: #1d2228;
    font-size: 20px;
    line-height: 28px;
}

.tCardInfo label {
    font-size: 25px;
}

.rightSect {
    width: 33%;
}

.aboutSect {
    width: 100%;
    margin-bottom: 3rem;
    overflow: hidden;
}

.aboutMe {
    position: relative;
    font-family: 'Merriweather', serif;
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    margin-bottom: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aboutMe::before {
    content: '';
    width: 50px;
    height: 3px;
    background: rgb(255, 103, 103);
    background: linear-gradient(to right, transparent, rgb(255, 103, 103));
    margin-right: 20px;
}

.aboutMe::after {
    content: '';
    width: 50px;
    height: 3px;
    background: rgb(255, 103, 103);
    background: linear-gradient(to left, transparent, rgb(255, 103, 103));
    margin-left: 20px;
    z-index: 1;
}

.aboutBox {
    position: relative;
    padding: 20px;
    border: 1px solid rgb(221, 217, 217);
    border-radius: 20px;
    text-align: center;
    background-color: white;
    z-index: 1;
}

.aboutBox p {
    font-size: 14px;
    font-weight: 500;
    line-height: 28px;
    color: rgb(69, 67, 67);
}

 /*FALLOW ME*/

.fallowMe {
    width: 100%;
}

.fallowMe h3 {
    margin-top: 150px;
}

.followCards {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.socCard {
    width: 170px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding-top: 18px;
    box-shadow: 0 0 10px grey;
    border-radius: 10px;
    overflow: hidden;
}

.socCard i {
    color: white;
}

.socCard i:nth-last-child(2) {
    width: 25px;
    height: 25px;
    font-size: 13px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    border-radius: 50%;
    transition: 0.3s ease;
}

.socCard:hover i:nth-last-child(2) {
    transform: rotate(90deg)
}

.socCard h5 {
    color: white;
}

.socCard:nth-child(1) {
    background-color: rgb(59, 87, 157, 1);
}

.socCard:nth-child(2) {
    background-color: rgb(225, 48, 90);
}

.socCard:nth-child(3) {
    background-color: rgb(245, 9, 9);
}

.socCard:nth-child(4) {
    background-color: rgb(44, 170, 225, 1);
}

.socCard:nth-child(5) {
    background-color: rgb(27, 27, 27);
}

.socCard:nth-child(6) {
    background-color: rgb(200, 35, 44);
}


  /*SUBSCRIPTION*/

.subscripMe {
    position: relative;
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(218, 217, 217);
}

.subscripMeInfo {
    text-align: center;
}

.subscripMeInfo h1 {
    font-size: 45px;
    font-family: 'Merriweather', serif;
    margin-bottom: 20px;
}

.subscripMeInfo p {
    font-size: 21px;
    font-weight: 500;
    color: rgb(57, 57, 57);
    text-align: center;
}

.subscripMeInfo form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

input {
    width: 500px;
    height: 50px;
    margin: 35px 0 15px 0;
    border-radius: 5px;
    border: none;
    text-align: center;
    font-size: 17px;
}

.subscripMeInfo form button {
    position: relative;
    padding: 12px 40px;
    background-color: rgb(255, 103, 103);
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
}

.subscripMeInfo form button::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(17, 17, 17, 0.165);
    z-index: -1;
    transform: scale(0);
    transition: 0.3s ease-in-out;
}

.subscripMeInfo form button:hover::before {
    transform: scale(1);
}

  /*FOOTER*/

footer {
    width: 100%;
    background-color: rgb(12, 18, 26);
    color: white;
    padding-bottom: 20px;
}  

.footer {
    padding: 6rem 0;
    gap: 30px;
    align-items: flex-start;
    flex-wrap: wrap;
}

footer .container {
    flex-direction: column;
    align-items: flex-start;
}

.footerInfo {
    width: 36%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-right: 5.4rem
}

.socialMedia {
    display: flex;
    gap: 20px;
}

.socialMedia i {
    background-color: rgb(44, 40, 40);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.socialMedia i:hover {
    background-color: rgb(119, 197, 2);
}

.footerNav {
    width: 13%;
    margin-right: 200px;
}

.footerNav:last-child {
    margin-right: 0;
}

.footerInfo h1 {
    font-family: cursive;
    letter-spacing: 2px;
}

.footerInfo p {
    font-size: 14px;
    color: rgba(153, 152, 152, 0.6);
}

.footerNav h3 {
    font-family: 'Merriweather', serif;
    font-size: 18px;
    margin-bottom: 30px;
}

.footerNav ul {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.footerNav ul li a {
    font-size: 13px;
    font-weight: 500;
    transition: 0.3s ease;
}

.footerNav ul li a:hover {
    color: rgb(119, 197, 2);
}


  /*RESPONSIVE*/

  @media screen and (max-width: 800px) {
    .topNav .container {
        padding: 0 20px;
    }  
    
    .occasionsRec {
        width: 500px;
        height: auto;
        margin-top: 8rem;
    }

    .navList {
        position: absolute;
        width: 250px;
        height: 100vh;
        top: 100%;
        right: -150px;
        flex-direction: column;
        z-index: 999999;
        padding: 70px 5px;
        background-color: rgb(234, 232, 232);
        transition: 0.3s ease-in-out;
    }

    .navList li a {
        font-size: 24px;
        font-family: 'Merriweather', serif;
        font-weight: 600;
    }

    .logo h1 {
        padding: 0 0 0 15px;
    }

    .navOnOff {
        display: block;
    }

    .headerImg {
        height: 45vh;
        padding: 0 20px;
    }

    .headerInfo {
        font-size: 30px;
    }

    .headerPera {
        padding-right: 3rem;
    }

    .headerBtn {
        font-size: 15px;
    }

    .threeCards {
        justify-content: center;
        flex-wrap: wrap;
    }

    .popularCards {
        justify-content: center;
        flex-wrap: wrap;
        gap: 50px;
    }

    .vegeFruit {
        height: auto;
        padding: 30px 20px;
    }

    .vegeFruit .container {
        flex-direction: column;
        gap: 30px;
    }

    .vege, .fruit {
        width: 100%;
    }

    .occasionsRec {
        flex-direction: column;
        padding: 0 20px;
    }

    .leftSect, .rightSect {
        width: 100%;
    }

    .leftPosts .threeCard{
        width: 100%;
    }

    .leftPosts .threeCard .tCardImg {
        width: 100%;
        height: 56%;
    }

    .rightSect {
        margin-top: 3rem;
    }

    .footerNav {
        margin: 20px;
        text-align: center;
    }

    .footerNav ul {
        align-items: center;
    }

    .socialMedia i {
        width: 25px;
        height: 25px;
    }

    .footerInfo h1,
    .footerInfo p,
    .socialMedia {
        margin-left: 20px;
    }
  }


  @media screen and (max-width: 500px) {
    .logo h1 {
        font-size: 24px;
    }

    .categCard {
        width: 180px;
        height: auto;
    }

    .threeCard {
        width: 100%;
    }

    .footerInfo {
        width: 100%;
        margin: 0;
        align-items: center;
        text-align: center;
    }

    .subscripMeInfo h1 {
        font-size: 37px;
    }

    .subscripMeInfo p {
        font-size: 19px;
    }

    input {
        width: 380px;
    }

    .footerNav {
        width: 37%;
        margin: 20px;
        text-align: center;
    }

    .footerNav ul {
        align-items: center;
    }
  }